<div class = "about section">
  <h2 class="section-title">About Me</h2>
  <div class="about-info">
    <div class="about-text">
      <p class="about-description">My name is Justin and I love creating solutions to problems. I fell in love with computer science by accident; I promised my father I would take one computer science course in college (even though it wasn't my major) and I've been addicted to coding ever since. The thing that I've always loved the most about computer science is that there are almost no boundaries on what you can create as long as you have the right attitude and work ethic. In this way, CS has always felt like the great equalizer because the only thing limiting your success is your own hard-work, determination, and ability to pseudocode out a clever solution. </p>
      <p class="about-description">I started coding full-stack applications in an attempt to learn more about the apps, websites, and tools that I use every day. I fell in love with the process of creating intuitive front-end interfaces and optimizing back-end operations. Since that first day, I've absorbed as much information possible about how to create the best product I can from implementing compression of larger files in order to improve UI load speeds to how to use an NGINX load balancer to distribute API calls to multiple servers. Some projects I've been able to help create include a fullstack e-commerce landing page and a local-search application while my most recent endeavor has me creating a competitive form of Sudoku.</p>
    </div>
    <div class="about-photo-container">
      <img class="about-photo" src="assets/about-me-picture.png"/>
      <div class="about-photo-background"></div>
    </div>
  </div>
</div>
