/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background-color: #1c2e4a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-title {
  display: flex;
  font-size: 6vh;
  flex-direction: row;
}

.section-title:before, .section-title:after{
  content:"\00a0\00a0\00a0\00a0\00a0";
  text-decoration:line-through;
  margin-right: 1vw;
  margin-left: 1vw;
}

.header * {
  height: 100%;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}