<h4 class="experience-title" (click) = "gotoLink(linkToGithub)"> {{title}} </h4>
<div class="experience-content" >

     <!-- version 1 -->
    <!-- <div *ngIf = "url_shown === ''; else expandedImage">
    <div class="experience-images">
      <div *ngFor = "let imageSet of imageUrl; count as rowCount" class = "experience-image-row" [ngStyle] = "{'height.%': 100/rowCount}">
        <img 
          *ngFor = "let image of imageSet; count as c"
          [src] = image 
          [alt] = image
          class = experience-img
          [id] = image
          [ngStyle] = "{
            'height.%': 100,
            'marginLeft.vw': 1
          }"
          (mouseenter) = "toggle_expanded_image(image)"
        />
      </div>
    </div>
  </div>
  <ng-template #expandedImage>
    <div class="experience-images">
      <img 
        [src] = url_shown 
        alt = url_shown 
        class="expanded-image"
        [id] = url_shown
        [ngStyle] = "getBigger(url_shown)"
        >
      <img src="/assets/icons/back-to-default.png" alt="back to default view" class="back-to-default" (click) = "toggle_expanded_image('')">
    </div>
  </ng-template> -->

  <!-- version 2 -->
  <div *ngIf = "url_shown === ''; else expandedImage">
    <div class="experience-images">
      <div *ngFor = "let imageSet of imageUrl; count as rowCount" class = "experience-image-row" [ngStyle] = "{'height.%': 100/rowCount}">
        <img 
          @expand_gif
          *ngFor = "let image of imageSet; count as c"
          [src] = image 
          [alt] = image
          class = experience-img
          [id] = image
          [ngStyle] = "{
            'height.%': 100,
            'marginLeft.vw': 1
          }"
          (click) = "toggle_expanded_image(image)"
        />
      </div>
    </div>
  </div>
  <ng-template #expandedImage>
    <div class="experience-images" >
      <!-- <div 
        [ngStyle] = "{'position': 'relative', 'height.%': 100, 'width.%': 100, 'display': 'flex', 'justify-content': 'center', 'align-items': 'center'}"
      > -->
        <img
        @expand_gif
        [src] = url_shown 
        alt = url_shown 
        class="expanded-image"
        [id] = url_shown
        [ngStyle] = "getBigger(url_shown)"
        >
        <!-- <img src="/assets/icons/back-to-default.png" alt="back to default view" class="back-to-default" (click) = "toggle_expanded_image('')"> -->
      <!-- </div> -->
    </div>
  </ng-template>



  <div class=experience-text>
    <span class="experience-description text"> {{description}} </span>

    <button class = "gif-button text" (click) = "toggle_expanded_image('')"> {{url_shown === '' ? 'Click on GIF to expand' : 'Revert to Default View'}} </button>
    
    <div class="experience-tech-list text" >
      <span > Tech Stack </span>
      <div [ngStyle] = "{display: 'flex'}">
        <ul *ngFor = "let techList of technologies" >
          <li *ngFor = "let tech of techList" >{{tech}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>