.experience-title {
  font-size: 4vh;
  margin-bottom: 1vh;
  color: rgba(194, 205, 246, 0.685);
  margin-left: 5vw;
}

.experience-content {
  border-style: outset;
  border-color:rgba(194, 205, 246, 0.685);
  border-width: 0.25vw;
  color:rgba(194, 237, 246, 0.558);
  font-size: 2vh;
  position: relative;
  overflow: hidden;
  width: 81vw;
}


.experience-images {
  // width: 40vw;
  // height: auto;
  width: 40vw;
  height: 60vh;
  //min-height: 60vh;
  //height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 3vh;
  padding-left: 3vw;
}

.experience-image-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //margin-bottom: 3vh;
}

.experience-image {
  margin-top: 3vh;
  margin-left: 3vw;
  //position: absolute;
  height: 60vh;
  width: auto;
  margin-bottom: 3vh;
}

.experience-description {
  max-width: 25vw;
  position: absolute;
  bottom: 7vh;
}


.experience-tech-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 3vh;

}

.text {
  background-color: rgb(20, 72, 132);
  padding: 1vw;
  color: rgba(194, 237, 246, 0.832);
  border-style:groove;
  right: 5vw;
  border-radius: 1vw;
}