.experience-title {
  font-size: 4vh;
  margin-bottom: 1vh;
  color: rgba(194, 205, 246, 0.685);
  margin-left: 5vw;
}

.experience-content {
  border-style: outset;
  border-color:rgba(194, 205, 246, 0.685);
  border-width: 0.25vw;
  color:rgba(194, 237, 246, 0.558);
  font-size: 2vh;
  position: relative;
  overflow: hidden;
  width: 81vw;
  display: flex;
  justify-content: space-around;
}


.experience-images {
  width: 40vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
  padding-left: 3vw;
  padding-bottom: 3vh;
  box-sizing:border-box;
  position: relative;
}

.experience-image-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1vh;
  //margin-bottom: 3vh;
}

.back-to-default {
  position: absolute;
  top: 2vh;
  left: 2vw;
  height: 2vh;
  width: 2vh;
  z-index: 2;
}

// .experience-description {
//   max-width: 25vw;
//   position: absolute;
//   bottom: 1vh;
// }

// .experience-tech-list {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   top: 1vh;

// }

.experience-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-end;
}

.experience-text > * {
  margin-right: 5%;
  max-width: 50%;
}

.gif-button {
  align-self: center;
}

.experience-tech-list {
  display: flex;
  flex-direction: column;
}

.text {
  background-color: rgb(20, 72, 132);
  padding: 1vw;
  color: rgba(194, 237, 246, 0.832);
  border-style:groove;
  right: 2vw;
  border-radius: 1vw;
}