.title-card {
  margin-top: 200px;
  margin-left: 10vw;
  text-align: left;
  color: rgb(129, 172, 200);
  width: 50%;
  // 
}

.title-name {
  font-size: 12vh;
  margin-bottom: 0px;
}

.title-position {
  font-size: 6vh;
  margin-top: 0px;
  color: rgba(194, 240, 246, 0.65);
}

.title-description {
  font-size: 3vh;
  //margin-left: 5vw;
  color: rgba(194, 240, 246, 0.4);
}